*/build/*
*/dist/*
*/nbproject/private/*
/.project
*.o
*.gz
*.ilk
*.pdb
*.tlog
*.manifest
*.res
*.user
*.lastbuildstate
*.sdf
*.suo
*.rc
*.exe
/*.log
*.cache
*.idb
Makefile-Release.mk
*.obj

*.log

*.ipch

*.unsuccessfulbuild

*.opensdf
