/.project
/tutorial04/build/
/tutorial04/dist/
/tutorial01/dist/
/tutorial01/build/
/tutorial02/dist/
/tutorial02/build/
/tutorial03/dist/
/tutorial03/build/
/tutorial05/build/
/tutorial05/dist/
/tutorial06/build/
/tutorial06/dist/
/tutorial07/build/
/tutorial07/dist/
/tutorial08/build/
/tutorial08/dist/
/tutorial09/dist/
/tutorial09/build/
/tutorial10/build/
/tutorial10/dist/
/tutorial11/build/
/tutorial11/dist/
/tutorial12/build/
/tutorial12/dist/
/tutorial13/build/
/tutorial13/dist/
/tutorial14/dist/
/tutorial14/build/
/tutorial15/build/
/tutorial15/dist/
/tutorial16/build/
/tutorial17/build/
/tutorial16/dist/
/tutorial19/build/
/tutorial17/dist/
/tutorial18/dist/
/tutorial18/build/
/tutorial20/build/
/tutorial21/build/
/tutorial19/dist/
/tutorial23/build/
/tutorial20/dist/
/tutorial21/dist/
/tutorial22/build/
/tutorial24/build/
/tutorial22/dist/
/tutorial25/build/
/tutorial26/build/
/tutorial27/build/
/tutorial24/dist/
/tutorial26/dist/
/tutorial29/build/
/tutorial28/build/
/tutorial27/dist/
/tutorial25/dist/
/tutorial30/build/
/tutorial31/build/
/tutorial32/build/
/tutorial30/dist/
/tutorial34/build/
/tutorial33/build/
/tutorial32/dist/
/tutorial35/build/
/tutorial36/build/
/tutorial33/dist/
/tutorial34/dist/
/tutorial37/build/
/tutorial38/build/
/tutorial35/dist/
/tutorial39/build/
/tutorial40/build/
/tutorial37/dist/
/tutorial41/build/
/tutorial39/dist/
/tutorial42/build/
/tutorial40/dist/
/tutorial41/dist/
/tutorial38/dist/
/tutorial36/dist/
/tutorial29/dist/
/tutorial28/dist/
/tutorial23/dist/
/tutorial31/dist/
*.o
*.gz
/Tutorial42/build/
/Tutorial42/dist/
*.ilk
*.pdb
*.tlog
*.manifest
*.res
*.user
*.lastbuildstate
*.sdf
*.suo
*.rc

/Windows/ogldev/Debug/*.exe

/Windows/ogldev/Debug/Tutorial01/*.log
/Windows/ogldev/Debug/Tutorial01/*.cache

/Windows/ogldev/Debug/Tutorial01/*.idb

/Windows/ogldev/Debug/Tutorial42/*.log
