// colors

$color-1: #4e5359; // blue dark
$color-2: #a9c056; // green
$color-3: #f3f3f5; // grey light
$color-4: #6c7d8e; // blue light
$color-5: #ffffff; // white

// fonts 

$primary-font: 'Open Sans', sans-serif;